.fadeInUp {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
.mdl-card {
    -webkit-transition: transform 1s ease-in-out, z-index 1s ease-in-out,  box-shadow 1s;
    transition: transform 1s ease-in-out, z-index 1s ease-in-out,  box-shadow 1s;
}
.mdl-card:hover {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    box-shadow: 
        0 6px 10px 0 rgba(0,0,0,.14),
        0 1px 18px 0 rgba(0,0,0,.12),
        0 3px 5px -1px rgba(0,0,0,.2);
    /*transform: scale(1.15);*/
    z-index: 2;
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        top: 150px;
        /*-webkit-transform: translate3d(0,100%,0);
        transform: translate3d(0,100%,0);*/
    }
    100% {
        opacity: 1;
        top: 0px;
        /*-webkit-transform: none;
        transform: none;*/
    }
}
@keyframes zoom {
    0% {
        -webkit-transform: scale(1);
        transform: translate3d(1);
    }
    100% {
        -webkit-transform: scale(1.3);
        transform: translate3d(1.3);
    }
}
.delay-1s {
    -o-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.delay-2s {
    -o-animation-delay: 2s;
    -moz-animation-delay: 2s;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}
.delay-3s {
    -o-animation-delay: 3s;
    -moz-animation-delay: 3s;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}
.delay-4s {
    -o-animation-delay: 4s;
    -moz-animation-delay: 4s;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}
.delay-4-2s {
    -o-animation-delay: 4.2s;
    -moz-animation-delay: 4.2s;
    -webkit-animation-delay: 4.2s;
    animation-delay: 4.2s;
}
.delay-4-4s {
    -o-animation-delay: 4.4s;
    -moz-animation-delay: 4.4s;
    -webkit-animation-delay: 4.4s;
    animation-delay: 4.4s;
}
.delay-4-6s {
    -o-animation-delay: 4.6s;
    -moz-animation-delay: 4.6s;
    -webkit-animation-delay: 4.6s;
    animation-delay: 4.6s;
}
.delay-5s {
    -o-animation-delay: 5s;
    -moz-animation-delay: 5s;
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
}
.delay-5s {
    -o-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -webkit-animation-delay: 6s;
    animation-delay: 6s;
}